<script src="@Url.Content("~/Scripts/account.js")" type="text/javascript"></script>
           
<div class="linkdiv"><a href="javascript:openDialog('del');" class="link">Delete account</a></div>
<div class="linkdiv"><a href="javascript:openDialog('pass');" class="link">Change password</a></div>
<div id="tableContainer"></div>