<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WeaveDatabase" type="Weave.Core.WeaveConfigurationSection, Weave.Core" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <WeaveDatabase configSource="database.config" />
  <connectionStrings configSource="connectionStrings.config" />
  <appSettings>
    <add key="Port" value="8888" />
    <add key="EnableSsl" value="true" />
    <add key="EnableAdminService" value="true" />
    <add key="AdminPort" value="8889" />
    <add key="AdminLogin" value="admin" />
    <add key="AdminPassword" value="pass" />
    <add key="EnableAdminSsl" value="true" />
    <add key="HmacPass" value="ewGye%^@^%Tfr" />
    <add key="RijndaelPass" value="$dfYTHsd%^#%^" />
    <add key="EnableDebugging" value="false" />
    <add key="DiagnosticsPassword" value="pass" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog configSource="nlog.config" />
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>