<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="WeaveDatabase" type="Weave.Core.WeaveConfigurationSection, Weave.Core" />
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <WeaveDatabase configSource="database.config" />
    <connectionStrings configSource="connectionStrings.config" />
    <appSettings>
        <add key="AdminLogin" value="admin" />
        <add key="AdminPassword" value="pass" />

        <add key="EnableAdminSsl" value="true" />

        <add key="EnableDebugging" value="false" />
        <add key="DiagnosticsPassword" value="pass" />

        <add key="HmacPass" value="ewGye%^@^%Tfr" />
        <add key="RijndaelPass" value="$dfYTHsd%^#%^" />
    </appSettings>
    <nlog configSource="nlog.config" />
    <system.web>
        <compilation debug="true" targetFramework="4.0" />

        
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />

        
        
    <validation validateIntegratedModeConfiguration="false" /><handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers></system.webServer>
</configuration>
