body { font-family: arial,helvetica,sans; background-color: #464646; font-size: 14px; }

#wrapper { width: 700px; margin: 10px auto; }
#header { float: left; width: 710px; margin-bottom: 10px; }
#logo { float: left; font-size: 24px; color: #f26522; letter-spacing: -1px; }
#logout  { float: right; padding-top: 7px; margin-right: -25px; font-size: smaller; color: #ffffff; }
#logout a { color: #ffffff; font-weight: bold; }
#content { float: left; width: 700px; padding: 15px 20px 20px 20px; background-color: #ececec; border-top: 5px solid #f26522; border-bottom: 10px solid #3c3c3c; }

.link { font-weight: bold; color: #000000; }
.linkdiv { float: right; padding-bottom: 20px; padding-left: 30px; }

.notfound { font-size: medium; font-weight: bold; padding-top: 20px; padding-bottom: 20px; text-align: center; }

.loginform .header { padding-bottom: 15px; font-weight: bold; }
.loginform .row { padding-bottom: 5px; }
.loginform .field { float: left; width: 90px; text-align: left; padding-top: 3px; }
.loginform .textbox { width: 120px; }
.loginform .buttonbar { padding-top: 10px; }
.loginform .button { width: 70px; }
.loginform .error { color: Red; font-size: 11px; padding-top: 15px; }

/* JSONTable */
.JSONTable { float: left; border: solid 1px #888; border-collapse: collapse; width: 100%; }
.JSONTable th { padding: 0.2em; background: #2A3940; padding-top: 2px; color: #fff; font-weight: bold; border: solid 1px #888; }
.JSONTable a { color: #000; }
.JSONTable td { padding: .3em; border: solid 1px #888; vertical-align: top; }
.JSONTable .evenRow { background: #ddd; }
.JSONTable .oddRow { background: #fff; }
.JSONTable .tdUser { width: 80px; padding-left: 5px; text-align: left; }
.JSONTable .tdDate { width: 110px; padding-left: 5px; text-align: left; }
.JSONTable .tdLoad { width: 40px; padding-left: 5px; text-align: center; }
.JSONTable .tdLink { width: 40px; color: #666666; text-align: center; }

#dialogContent #error { color: Red; padding-bottom: 5px; text-align: center; font-size: smaller; display: none; }
#dialogContent span { display: inline-block; width: 130px; text-align: left; padding: 5px; }
#dialogContent .longspan { width: 160px; }
#dialogContent .textbox { position: relative; padding: 2px; width: 125px; }


/*
* Based on jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee; }
.ui-widget-header { background: #3C3C3C; color: #ffffff; font-weight: bold; }
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #666666; opacity: .50; filter: Alpha(Opacity=50); }

.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .3em .6em; position: relative; }
.ui-dialog .ui-dialog-content { border: 0; overflow: auto; text-align: center; padding: 20px; }
.ui-dialog .ui-dialog-content p { margin: 3px }
.ui-dialog .ui-dialog-buttonpane { border-width: 1px 0 0 0; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .4em .3em .4em 0; cursor: pointer; padding: 2px; width: 70px; overflow: visible; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.no-close .ui-dialog-titlebar-close { display: none; }