<form method="post">
	<div class="loginform">
		<div class="header">Delete Your Weave Account:</div>
		<div class="row">
            <label class="field">Username:</label><input name="login" type="text" class="textbox" />
        </div>
		<div class="row">
            <label class="field">Password:</label><input name="password" type="password" class="textbox" />
        </div>
		<div class="buttonbar">
            <label class="field">&nbsp;</label><input type="submit" id="loginButton" value="Delete" class="button" />
        </div>
		<div class="error">
            <label style="@Html.Encode(ViewBag.ResultStyle);">@Html.Encode(ViewBag.ResultMessage)</label>
        </div>
	</div>
</form>
