<script src="@Url.Content("~/Scripts/admin.js")" type="text/javascript"></script>

<a href="javascript:openDialog('new');" class="addnew">Add new</a>
<div id="tableContainer"></div>
    
<div id="dialog">
    <div id="dialogContent"></div>
</div>
