<script src="@Url.Content("~/Scripts/admin.js")" type="text/javascript"></script>

<div class="linkdiv"><a href="javascript:openDialog('new');" class="link">Add new</a></div>
<div id="tableContainer"></div>
