<form method="post">
    <div class="loginform">
        <div class="header">Please Log In:</div>
        <div class="row">
            <label class="field">Username:</label><input name="login" type="text" class="textbox" />
        </div>
        <div class="row">
            <label class="field">Password:</label><input name="password" type="password" class="textbox" />
        </div>
        <div class="buttonbar">
            <label class="field">&nbsp;</label><input type="submit" id="loginButton" value="Submit" class="button" />
        </div>
        <div class="error" style="display:@Html.Encode(ViewBag.ErrorDisplay)">
            <label id="errorLabel">@Html.Encode(ViewBag.ErrorMessage)</label>
        </div>
    </div>
</form>
