<?xml version="1.0" encoding="UTF-8"?>
<nlog>
    <targets>
        <target name="file"
                type="File"
                archiveFileName="${basedir}/Logs/Archives/log.${shortdate}.txt"
                archiveEvery="Day"
                maxArchiveFiles="20"
                fileName="${basedir}/Logs/log.txt" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
</nlog>